
@import "index.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.inverted.button{
  background-color: rgba(180, 155, 155, 0.514) !important;
  border-width: .1px !important;
  border-style: solid !important;
  font-family: monospace !important;
  color: whitesmoke;
}

.ui.menu {
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: linear-gradient(45deg, black, transparent) !important;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
}

center{
  background-image: url(https://images.squarespace-cdn.com/content/v1/52bb75f8e4b016d5f2755d8f/1534297749251-8W7D4SM7FA82NMDLMRXF/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Instructure_HQ_Shoot_2-25.jpg?format=2500w);
  height: 1650px;
  width: 100%;
}


.thick-border{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 50%;
}

.ui.menu:first-child {
  margin-bottom: 0;
  border: none;
}

.ui.card, .ui.cards>.card {
  width: 1000px !important;
  background: linear-gradient(45deg, black, transparent) !important;
  color: white;
  border: none;
}

h1{
  font-size: 45px !important;
}
 h2{
   font-size: 30px !important;
 }
 h4{
   font-size: 30px !important;
 }
 
 h5{
   font-size: 20px;
   background-color: rgba(0, 0, 0, 0.856);
   font-family: monospace !important;
   font-size: 27px !important;
   color: whitesmoke;
   width: 1000px;
  }
  .oz{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.856);
    font-family: monospace !important;
    font-size: 27px !important;
    width: 1000px;
    color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: blanchedalmond;
  }

  .color{
    background-color: black;
  }

  .space{
    justify-content: space-evenly !important;
  }

  h6{
    font-size: 20px;
    background: linear-gradient(45deg, rgba(128, 128, 128, 0.712), transparent) !important;
    font-family: monospace !important;
    font-size: 27px !important;
    /* width: 1800px; */
    color: black;
    border: none;
  }

  .sidebyside {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .alighnRight {
      display: flex;
      flex-direction: column-reverse;
      justify-content: left;
      font-size: 20px;
      background: linear-gradient(45deg, rgba(128, 128, 128, 0), transparent) !important;
      font-family: monospace !important;
      font-size: 27px !important;
      width: 1800px;
      color: black;
      border: none;
    }
    
    button{
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }

    .backy{
      font-size: 20px;
      /* background: linear-gradient(45deg, rgb(255, 255, 255), transparent) !important; */
      background-color: rgba(245, 245, 245, 0.76);
      font-family: monospace !important;
      font-size: 27px !important;
      width: 1000px;
      color: black;
      border: none;
      height: 1200px;
    }

    .backson{
      font-size: 20px;
      /* background: linear-gradient(45deg, rgb(255, 255, 255), transparent) !important; */
      background-color: rgba(245, 245, 245, 0.76);
      font-family: monospace !important;
      font-size: 27px !important;
      width: 1000px;
      color: black;
      border: none;
      height: 800px;
    }

    a{
      background-color: rgba(243, 237, 237, 0);
    }

    .squareImg {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        width: 606px;
        height: 604px;
    }

    .ooops{
      color: rgb(255, 0, 0);
      font-size: 30px !important;
      background-color: rgb(255, 255, 255);
      width: 300px;
    }

    #Container {
      widows: 960px;
      margin: 0px auto !important;
    }

    #left-column{
      width:700px;
      float: left;
      background:blue;
    }

    #right-column{
      widows: 260px;
      float:left;
      background:orange;
    }
  
 ::-webkit-scrollbar {
  width: 20px;
}

@media screen and (max-width: 768px) {
  .ooops{
    width: 100% !important;
  }
  .oz{
    width: 100% !important;
  }
  h5{
    width: 100% !important;
  }
  .backson{
    width: 100% !important;
  }
  center{
    width: 100% !important;
  }
  .thick-border{
    width: 100% !important;
  }
  .right-column{
    width: 100% !important;
    height:100% !important;
  }
  .left-column{
    width: 100% !important;
  }
  .Container{
    width: 100% !important;
  }
  
  .backy{
    width: 100% !important;
  }
  .sidebyside{
    width: 100% !important;
    font-size: xx-small;
  }
  .ui.card {
    width: 100% !important;
  }
  a{
    width: 100% !important;
  }
  h6{
    width: 100% !important; 
  }
  .root{
    width: 100% !important; 
  }
  h3{
    width: 100% !important; 
    font-size: x-small !important;
  }
  h2{
    font-size: xx-small;
    font-size: small !important;
  }
  h1{
    font-size: small !important;
  }
  ui-four-column-grid{
    width: 100% !important; 
  }
  .ui.grid {
    display: flow-root !important;
  }
  .ui.menu {
    width: 100% !important; 
  }
  ui-blue-nverted-tiny-button{
    width: 100% !important; 
  }
  ui-red-nverted-tiny-button{
    width: 100% ; 
  }
  li{
    font-size: xx-small;
  }
  h4{
    background-color: grey !important;
    /* height: 2800px !important; */
  }
  script{
    width: 100% !important; 
  }
  ui-menu{
    width: 100% !important; 
  }
  body{
    background-attachment: black;
  }
  html{
    height: 100px !important;
  }

  /* .correctImage { */
  .img{
  width: 100% !important; 
}
  /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
 
}





@media screen and (max-width: 425px) {
  .ooops {
      width: 100% !important;
    }
    .oz{
      width: 100% !important;
    }
    h5{
      width: 100% !important;
    }
    .backson{
      width: 100% !important;
    }
    center{
      width: 100% !important;
    }
    .thick-border{
      width: 100% !important;
    }
    .right-column{
      width: 100% !important;
      height:100% !important;
    }
    .left-column{
      width: 100% !important;
    }
    .Container{
      width: 100% !important;
    }
    
    .backy{
      width: 100% !important;
    }
    .sidebyside{
      width: 100% !important;
      font-size: xx-small;
    }
    .ui.card {
      width: 100% !important;
    }
    a{
      width: 100% !important;
    }
    h6{
      width: 100% !important; 
    }
    .root{
      width: 100% !important; 
    }
    h3{
      width: 100% !important; 
      font-size: x-small !important;
    }
    h2{
      font-size: xx-small;
      font-size: small !important;
    }
    h1{
      font-size: small !important;
    }
    ui-four-column-grid{
      width: 100% !important; 
    }
    .ui.grid {
      display: flow-root !important;
    }
    .ui.menu {
      width: 100% !important; 
    }
    ui-blue-nverted-tiny-button{
      width: 100% !important; 
    }
    ui-red-nverted-tiny-button{
      width: 100% ; 
    }
    li{
      font-size: xx-small;
    }
    h4{
      background-color: grey !important;
      /* height: 2800px !important; */
    }
    script{
      width: 100% !important; 
    }
    ui-menu{
      width: 100% !important; 
    }
    body{
      background-attachment: black;
    }
    html{
      height: 75px !important;
    }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 15px;
}

.red{
color:rgb(255, 0, 0);
}

.green{
  color:rgb(0, 255, 13);
}

.Red {
  background-color:rgb(129, 0, 0);
  }

    